<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>

<h2>Bug List</h2>

<% if @bugs.empty? %>
  <p>
  No bugs have been filed.
  <%= link_to "Click here to file one", new_project_bug_path(@project) %>
  </p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @project.bugs.includes(:status).each do |bug| %>
        <tr>
          <td><%= link_to bug.title, project_bug_path(@project, bug) %></td>
          <td><%= bug.status.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "File a new bug", new_project_bug_path(@project) %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
