<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bug.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>

<p>
  <b>Status:</b>
  <%= @bug.status.description %>
</p>


<%= link_to 'Edit', edit_project_bug_path(@project, @bug) %> |
<%= link_to 'Back', project_path(@project) %>
