<p id="notice"><%= notice %></p>

<div class="title-with-controls">
  <h1><%= @project.title %> - Bug ID: <%= @bug.id %></h1>

  <div id="page-controls">
    <%= link_to 'Edit this bug', edit_project_bug_path(@project, @bug) %>
  </div>
</div>


<div class="field-list">
  <div class="field">
    <div class="field-name">Title:</div>
    <div><%= @bug.title %></div>
  </div>

  <div class="field">
    <div class="field-name">Description:</div>
    <div><%= @bug.description %></div>
  </div>

  <div class="field">
    <div class="field-name">Status:</div>
    <div><%= @bug.status.description %></div>
  </div>
</div>

<%= link_to "<< Back to project", project_path(@project) %>
