<!DOCTYPE html>
<html>
<head>
  <title>BugTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% if Rails.env.development? %>
    <%= javascript_include_tag "vendor/live_css" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page-header">
  <h1>Bug Tracker</h1>
</div>

<div id="page-content" class="page-content-wrapper">
  <%= yield %>
</div>

</body>
</html>
